*.jar
*.class
/lib/
/classes/
/target/
/checkouts/
.nrepl-port
.cpcache/
/test/creds.edn
.classpath
.project
.settings/*
.calva
.lsp/
.webly
certs
target/
ci/deps.edn
demo-webly/karma.conf.js
\#*\#
creds.edn
creds-wien.edn
creds-localhost.edn
# clj-kondo: ignore all, keep only config
.clj-kondo/*
!.clj-kondo/config.edn
*~
\#*\#
.\#*
.~*
.shadow-cljs
node_modules
karma.conf.js
package.json
package-lock.json
shadow-cljs.edn
resources/META-INF
.gorilla
.flowy