{:paths ["src"
         "resources"]
 :deps
 {org.clojure/clojure    {:mvn/version "1.11.1"}
  com.rpl/specter {:mvn/version "1.1.4"} ; apply-options
  org.pinkgorilla/flowy {:mvn/version "0.1.39"}}

 :aliases
 {; github ci  
  :build {:deps {io.github.clojure/tools.build {:mvn/version "0.9.6"}
                 slipset/deps-deploy {:mvn/version "0.2.1"}}
          :ns-default build}
;
  }}


