{:name "options"
 ; build
 :lazy false

 :cljs-namespace [options.core]

 :cljs-ns-bindings {'options.core {'options-ui options.core/options-ui}}

 ; runtime

 :theme {:available  {:options {true ["options/options.css"]}}
         :current {:options true}}
 ;
 }