{:name "options"
 ; build
 :lazy false
 :cljs-namespace [options.core
                  options.edit]
 :cljs-ns-bindings {'options.edit {'bool options.edit/bool
                                   'button options.edit/button
                                   'select options.edit/select
                                   'string options.edit/string
                                   'view options.edit/view}
                    'options.core {'options-ui options.core/options-ui
                                   'options-ui2 options.core/options-ui2
                                   'register-editor options.core/register-editor}}
 ; runtime
 :theme {:available  {:options {true ["options/options.css"]}}
         :current {:options true}}

 :flowy [{:fun options.flowy.core/get-edit-flow :mode :ap}
         {:fun options.flowy.core/set-edit-value :mode :clj}]

 ;
 }