{:name "demo-app"
 :lazy true
 :depends-on #{;:options
               }
 :cljs-namespace [demo.page.core
                  demo.page.controls
                  demo.page.quanta
                  demo.page.clj
                  demo.app]
 :cljs-ns-bindings {'demo.page.core {'page  demo.page.core/page}
                    'demo.page.controls {'page  demo.page.controls/page}
                    'demo.page.quanta {'page  demo.page.quanta/page}
                    'demo.page.clj {'page  demo.page.clj/page}
                    'demo.app {'routes  demo.app/routes
                               'wrap-app demo.app/wrap-app}}
  
 :cljs-routes-reitit demo.app/routes
 
 }