{:paths ["src"
         "resources"
         "target/webly"]

 :deps {org.clojure/clojure    {:mvn/version "1.11.1"}
        org.pinkgorilla/webly {:mvn/version "0.7.702"} ; build tool
        ; goldly extensions:
        org.pinkgorilla/ui-tailwind {:mvn/version "0.1.8"} ; tailwind css classes
        ;org.pinkgorilla/ui-repl {:mvn/version "0.0.72"}
        ;org.pinkgorilla/ui-fonts {:mvn/version "0.2.5"} ; font awesome
        org.pinkgorilla/options {:local/root "../" :deps/manifest :deps}}

 :aliases {:npm-install
           {:exec-fn webly.app.app/webly-build
            :config {}
            :exec-args {:profile "npm-install"}}
           :demo
           {:exec-fn modular.system/start!
            :exec-args {;:profile "jetty"
                        :profile "watch"
                        :config {}
                        :services "demo-services.edn"}}}

;
 }